<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite" parallel ="methods" thread-count="2" >-->
<suite name="All Test Suite" parallel ="classes" thread-count="2" >
    <test name="sampletest">

  <!--  <test name="ParameterTest1">-->
       <!-- <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://opensource-demo.orangehrmlive.com/"></parameter>

        <groups>
            <run>

              &lt;!&ndash; <exclude name="sanity" />&ndash;&gt;

            </run>
        </groups>-->

        <classes>
           <!-- <class name="Pagelayer.DependsOnMetods">-->
           <!-- <class name="Pagelayer.Grouping"/> -->
           <!--<class name="Pagelayer.SampleTestngSetup">-->

           <!-- <class name="Pagelayer.Assertion"/>-->
            <!--<class name="Pagelayer.ParametersExample"/>-->
            <!--<class name="Pagelayer.DataProvider"/>-->
            <class name="Pagelayer.ParallelExecution1"/>
            <class name="Pagelayer.ParellelExecution2"/>
            <!--<methods>
                <include name="loginTest1"/>
                <include name="loginTest2"/>
            </methods>-->
           <!-- </class>-->
        </classes>
    </test>

 <!--   <test name="ParameterTest2">
        <parameter name="browser" value="opera"></parameter>
        <parameter name="url" value="https://opensource-demo.orangehrmlive.com/"></parameter>
        <groups>
            <run>

                &lt;!&ndash; <exclude name="sanity" />&ndash;&gt;

            </run>
        </groups>

        <classes>
            &lt;!&ndash; <class name="Pagelayer.DependsOnMetods">&ndash;&gt;
            &lt;!&ndash; <class name="Pagelayer.Grouping"/> &ndash;&gt;
            &lt;!&ndash;<class name="Pagelayer.SampleTestngSetup">&ndash;&gt;
             &lt;!&ndash;<class name="Pagelayer.Assertion"/>&ndash;&gt;
            <class name="Pagelayer.ParametersExample"/>

        </classes>
    </test>-->

</suite>